# dependencies (bun install)
node_modules

# output
out
*.tgz

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# caches
.eslintcache
.cache
*.tsbuildinfo

.env
.env.*
!.env.example

dist/
build/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
